body{
    background-color: white;
    margin: 0px;
    font: 12px/1.2 "Hiragino Sans GB","Microsoft YaHei","微软雅黑",arial,Tahoma,SimSun,sans-serif;
}
form {
    margin: 0 auto;
}
a {
    text-decoration: none;
    color:black;
}
ul {
    list-style: none;
    padding: 0px;
}
.color{
    color: #ff4910;
}
.top-toolbar {
    height: 35px;
    line-height: 35px;
    width: 100%;
    background-color: #ffffff;
    color: #555;
    border-bottom: 1px solid #ddd;
}
.top-toolbar a{
    color: #666;
}
.top-toolbar .w {
    width: 1200px;
    margin: 0 auto;
}
.bar_left {
    float: left;
}
.bar_left .index{
    float: left;
    margin-left: 30px;
}
.bar_right {
    float: right;
    margin-right: 10px;
}
.bar_right .topbar_login {
    padding: 0 10px;
    float: left;
}
.bar_right .topbar_myMenu {
    padding: 0 10px;
    float: left;
}
.main {
    width: 1190px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.main .headerWrap {
    background-color: #ffffff;
    padding-top: 10px;
}
.header{
    padding: 10px 20px;
    height: 70px;
}
.header .left {
    float: left;
    margin-right: 100px;
}
.header .left .title {
    float: left;
    text-align: left;
    color: #ff4910;
    line-height: 40px;
    font-size: 36px;
    margin-bottom: 25px;
    font-family: STLiti;
}
.searchbar {
    float: left;
    width: 580px;
    height: 40px;
    border: 2px solid #ff552e;
    background-color: #ffffff;
}
.searchbar .keyword {
    float: left;
    width: 480px;
    font-size: 14px;
    color: #ccc;
    border: 0;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
}
.button .search{
    float: left;
    height: 40px;
    line-height: 40px;
    width: 100px;
    font-size: 18px;
    border: 0;
    text-align: center;
    color: #fff;
    background-color: #ff552e;
}
.right .button .bt{
    margin: 0 60px;
    width: 150px;
}
.right .button .post{
    float: right;
    border: 2px solid #ff552e;
    height: 40px;
    line-height: 40px;
    margin-right: 80px;
    width: 100px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: #ff552e;
}
.headerWrap .navcon {
    width: 1190px;
    height: 37px;
    margin: 0px;
    border-bottom: 2px solid #ff552e;
}
.headerWrap .navcon .nav a {
    float: left;
    width: 100px;
    height: 35px;
    line-height: 35px;
    color: #ff552e;
    font-size: 16px;
    text-align: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.headerWrap .navcon .nav a:hover{
    color: #fff;
    background-color: #ff552e;
    border-bottom: 3px solid #ff552e;
}
.main .keyBox {
    margin: 10px 0px;
    padding: 3px;
    font-size: 13px;
    background-color: rgb(250,250,250);
}

.title .img {
    float: left;
}
.route {
    margin: 5px 0;
}
.route a{
    color: #555;
}
.keyBox .keyName {
    color: #555;
    font-weight: 800;
    float: left;
}
.keyBox li{
    float: left;
    margin: 0 10px;
}
.keyBox .region, .area, .floor, .rent, .type, .decoration {
    width: 1190px;
    height: 5px;
}
.keyBox input{
    width: 60px;
}
.keyBox li button{
    border: none;
    background-color: rgb(250,250,250);
}
.keyBox li button:hover{
    color: #ff552e;
}
.main .house-infor{
    float: left;
    width: 990px;
}
.house-search-page .recommed{
    float: right;
    width: 160px;
}
.house-search-page .house-recommed .recommed-box {
    height: 200px;
    width:160px;
    float: top;
    margin-bottom: 40px;
    border: 1px solid #e5e5e5;
}
.detile-bar{
    width: 100%;
    font-size: 20px;
    height: 25px;
    margin: 20px 0;
    overflow: hidden;
}
.main .house-infor .infor-box{
    height: 170px;
    border-bottom: 1px solid #f3f3f3;
}
.infor-box .house-photo{
    margin: 30px 0;
    width: 150px;
    float: left;
}
.infor-box .content{
    float: left;
    width: 680px;
    margin: 30px 0 30px 30px;
}
.infor-box .content h2{
    margin-top: 0;
}
.infor-box:hover {
    background-color: #f8f8f8;
}
.infor-box:hover .title{
    color: #ff552e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-right {
    float: right;
    width: 100px;
    height: 30px;
    margin: 30px 20px 30px 0;
}
.infor-box .list-right .sendTime {
    text-align: right;
    color: #CCC;
    font-size: 12px;
    line-height: 1;
}
.infor-box .list-right .rent {
    margin-top: 10px;
    color: #FF552E;
    font-size: 16px;
}
.list-right .rent b {
    margin-top: -10px;
    float: left;
    font-size: 28px;
    font-weight: 600;
    vertical-align: -3px;
    *vertical-align: auto;
    margin-right: 3px;
}
.house-detile-page {
    height: 205px;
    padding-bottom: 30px;
}
.house-detile-page .recommed{
    width: 100%;
}
.house-detile-page .house-recommed .recommed-box {
    height: 200px;
    width:160px;
    float: left;
    margin-right: 40px;
    border: 1px solid #e5e5e5;
}
.recommed-box .recommed-info {
    padding: 0 10px;
}
.recommed-info h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    margin: 0 auto;
}
.recommed-info .house-type{
    color: #666666;
    font-size: 12px;
    margin-bottom: 3px;
}
.recommed-info .house-rent {
    color: #ff4910;
    font-size: 16px;
}